$padding: 8px;
$transition-duration: 0.3s;

$hover-cell-bg: rgba(0 0 0 / 10%);
$active-cell-bg: rgba(0 0 0 / 25%);
$active-hover-cell-bg: rgba(0 0 0 / 40%);

// LAYOUT STUFF
///////////////////////////////////////////////////////////////////
.container {
  background: white;
  width: 250px;
  box-shadow: 0 0.5rem 1rem rgba(0 0 0 / 16%);
  border-radius: 0.5rem;
  overflow: hidden;
  user-select: none;
  cursor: default;
}

.sectionContainer {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $transition-duration;
  @media (prefers-reduced-motion) {
    transition: none;
  }

  &.expand {
    grid-template-rows: 1fr;
  }
}

.dateSection,
.timeSection {
  overflow: hidden;
  & > div {
    padding: $padding;
  }
}

.dateSection > div {
  padding-bottom: 0;
}
.timeSection > div {
  padding-top: 0;
}

.switch {
  padding: $padding;

  button {
    width: 100%;
  }
}

// STYLES
///////////////////////////////////////////////////////////////////

.container {
  table {
    width: 100%;
    border-collapse: collapse;

    button {
      padding: 0;
      background: transparent;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background: $hover-cell-bg;
      }
    }

    td,
    th {
      padding: 0;
      text-align: center;
    }

    td {
      width: 14.2857%;

      button {
        width: 100%;
      }

      &.outOfMonth {
        button {
          color: rgba(0 0 0 / 40%);
        }
      }

      &.active {
        button {
          background: $active-cell-bg;

          &:hover {
            background: $active-hover-cell-bg;
          }
        }
      }

      &.today {
        button {
          position: relative;
          overflow: hidden;

          &:after {
            content: "";
            position: absolute;
            bottom: 2px;
            right: 2px;
            width: 0px;
            height: 10px;
            border-left: 10px solid transparent;
            border-bottom: 10px solid black;
          }
        }
      }
    }
  }
}

// DAY VIEW
///////////////////////////////////////////////////////////////////

.dayView {
  button {
    aspect-ratio: 1 / 1;
  }
}

// 3x4 GRID VIEW
///////////////////////////////////////////////////////////////////

.gridView {
  table {
    td {
      width: 33.3333%;
    }
    button {
      padding-block: 12px;
    }
  }
}
